header{
    background-color: cornflowerblue;
    height: 50px;
    padding: 5px;
}

ul{
    list-style-type:none; /*quitar los puntos de la lista*/
    margin: 0;  
    overflow: hidden; /*ocultar los elementos que sobresalen*/
    background-color: blueviolet;
}

li{
    float: left;
}

li a{
    display: block; /*hacer que el enlace ocupe todo el espacio del bloque*/
    color: white;
    text-align: center; 
    padding: 14px 16px; /*espaciado*/
    text-decoration: none; /*quitar subrayado*/
}

li a:hover{
    background-color: #111; /*cambiar color al pasar el mouse*/
}

aside{
    float: right; /*alinear a la derecha*/
    width: 30%;  /*ancho del aside*/
    background-color: burlywood;
    text-align: center;
    min-height: 520px; /*altura minima*/
    margin: auto; /*centrar, lo puse auto porque con 0.2% de descoloca*/
}

section{
    float: left;    /*alinear a la izquierda*/
    width: 70%;   /*ancho del section*/
    background-color: darkkhaki;
    min-height: 520px; /*altura minima*/
}

article{
    background-color: aliceblue;
    margin: 2%; /*margen interno*/
}

article p{
    padding: 1%; /*espaciado*/
}

img{
    margin: 2%; /*margen interno*/
    border: 2px solid black; /*borde*/
    border-radius: 5px; /*bordes redondeados*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5); /*sombra*/
    width: 90%; /*ancho de la imagen*/
}

h1, h2{
    text-align: center;
}

footer{
    float: left;
    width: 98.6%;
    background-color: darkgray;
    text-align: center;
    min-height: 0px;
    padding: 5px;
}

